$primary: #D0BCFF;
$on-primary: #381E72;

$surface: #141218;
$on-surface:#E6E0E9;
$surface-container-low: #1D1B20;
$surface-container-high:#2B2930;
$surface-container-highest: #36343B;
$secondary-container: #4A4458;
$on-secondary-container:#E8DEF8;


$inverse-surface: #E6E0E9;
