@use 'colors';
@use 'size' as *;

.sidebar {
    &__icon {
        background-color: colors.$red;
        
        &--huge {
            font-size: $size * 1.6;
        }
        &--larger {
            font-size: $size * 1.4;
        }
        &--large {
            font-size: $size * 1.2;
        }
        &--red {
            svg path {
                fill: colors.$red;
            }
        }
        &--green {
        }

        &--blue {
            color: colors.$blue;
        }

        &--discrete {
            color: colors.$altbg;
        }
    }
}
