[Unit]
Description=foot server service
Documentation=man:foot(1)
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/foot --server
Restart=on-failure

[Install]
WantedBy=wayland-session.target
