[Unit]
Description=Kanshi service
Documentation=man:kanshi
PartOf=river-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=river-session.target
