[Unit]
Description=ProtonVPN-App service
PartOf=graphical-session.target
Wants=nm-applet.service
PartOf=graphical-session.target
After=graphical-session.target nm-applet.service

[Service]
RemainAfterExit=yes
ExecStart=protonvpn-app --start-minimized
Restart=on-failure

[Install]
WantedBy=graphical-session.target
