[Unit]
Description=swww daemon
Documentation=https://github.com/Horus645/swww
PartOf=wayland-session.target

[Service]
ExecStart=swww-daemon
ExecStop=swww kill

[Install]
WantedBy=wayland-session.target
