[Unit]
Description=swww daemon
Documentation=https://github.com/Horus645/swww
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swww-daemon
ExecStop=swww kill
Restart=on-failure
