* {
    border: none;
    border-radius: 0;
    /* `material-design-icons` is required to be installed for icons */
    font-family: sans-serif, MaterialDesignIcons;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags button {
    padding: 0 0px;
    background-color: transparent;
    color: #424a56;
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#tags button.occupied {
    color: #ffffff;
}

#tags button.focused {
    color: #71c6ff;
    box-shadow: inset 0 -3px #ffffff;
}

#tags button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#pulseaudio,
#custom-vpn {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#window,
#tags {
    margin: 0 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
