[Unit]
Description=Flexget execute service
Wants=network-online.target
After=network-online.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/var/state/pipx/bin/flexget execute --now

[Install]
WantedBy=graphical-session.target
