[Unit]
Description=Import gsettings on wayland
PartOf=wayland-session.target

[Service]
Type=simple
ExecStart=%h/bin/import-gsettings.sh

[Install]
WantedBy=wayland-session.target
