[Unit]
Description=ProtonVPN-CLI service
PartOf=graphical-session.target
Wants=nm-applet.service
PartOf=graphical-session.target
After=graphical-session.target nm-applet.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-protonvpn-cli killswitch --off
ExecStartPre=-protonvpn-cli killswitch --permanent
ExecStart=protonvpn-cli connect --p2p
ExecStartPost=-protonvpn-cli disconnect
ExecStartPost=-protonvpn-cli reconnect
TimeoutStartSec=30
ExecStop=protonvpn-cli disconnect
Restart=on-failure

[Install]
WantedBy=graphical-session.target
