[Unit]
Description=A sleek notification daemon.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=salut

[Install]
WantedBy=graphical-session.target
