[Unit]
Description=set wallpaper
PartOf=wayland-session.target
After=swww.service

[Service]
Type=simple
ExecStart=%h/bin/swww.fish

[Install]
WantedBy=wayland-session.target
