[Desktop Entry]
Name=FreeTube
GenericName=YouTube Player
Comment=An open source desktop YouTube player built with privacy in mind.
#Exec=freetube --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Exec=freetube %U
Terminal=false
Type=Application
Icon=freetube
MimeType=x-scheme-handler/freetube;
Categories=Network;
StartupWMClass=FreeTube
