[Desktop Entry]
Name=Unity Hub
Exec=unityhub-wrapper
Terminal=false
Type=Application
Icon=unityhub
StartupWMClass=Unity Hub
Comment=The Official Unity Hub
MimeType=x-scheme-handler/unityhub;
Categories=Development;
