@use 'colors' as *;
@use 'common/_unset.scss';
.progress-bar {
    @include unset.unset(true);
    trough{
        background: $surface-container-highest;
        border-radius: 999px;
    }

    progress {
        background: $primary;
        border-radius: 999px;
    }
}
