@use 'colors' as *;
@use 'common/_unset.scss' as *;

calendar {
    @include unset();
    background: $surface-container-high;
    font-size: 1.2rem;

    color: $on-surface;
    &.button{
    }

    &:selected{
        background: $primary;
        color: $on-primary;
    }

    &.header{
        color: $on-surface-variant;
        font-size: 1.05rem;
        font-weight: 500;
        letter-spacing: 0.0075rem;
    }

    &.highlight{
        
    }

    &:indeterminate {
        color: $on-surface-variant;
        opacity: 0.38;
    }
}
