@use 'sass:color';
@use 'colors' as *;
@use 'common/unset';

.button2 {
    @include unset.unset;
    padding: 24px 0;
    transition-duration: 200ms;
    color: $on-secondary-container;
    background: $secondary-container;

    border-radius: 999px;
    &:hover {
        background: color.change($primary, $alpha: 0.12);
    }

    &:active {
        background: color.change($primary, $alpha: 0.50);
    }

    &--big {
        margin: 20px;
        font-size: 5rem;
        padding: 4rem;
        border-radius: 28px;
    }
}
