@use 'common/unset';
@use 'colors' as *;
tooltip {
    @include unset.unset(true);
    &.background {
        background: $surface-container-high;
        color: $on-surface;
        border-radius: 0.25rem;
    }

    label {
        padding: 0 8px;
    }
    
}
