[Unit]
Description=Oguri wallpaper daemon
PartOf=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/oguri

[Install]
WantedBy=wayland-session.target
