[Unit]
Description=Waybar service
Documentation=man:waybar(1)
PartOf=wayland-session.target

[Service]
ExecStart=/usr/bin/waybar

[Install]
WantedBy=wayland-session.target
